@page "/"
@using System.Text.Json
@inject AccountManager AccountManager
@inject NavigationManager NavigationManager

<PageTitle>Accounts</PageTitle>

<style>
    .account {
        display: grid;
        grid-template-columns: auto auto 1fr 1fr 1fr 1fr auto;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        box-shadow: 0 0 14px 0 color-mix(in oklab, var(--color-primary), transparent 96%), 0 0 3px 1px color-mix(in oklab, var(--color-primary), transparent 90%);
    }

    .account img {
        width: 20px;
        height: 20px;
    }

    @@media (max-width: 900px) {
        .account {
            grid-template-columns: auto 1fr 1fr 1fr auto;
        }
        
        .d-sm-none {
            display: none;
        }
    }
</style>

<div class="main-content py-4">
    <div class="d-flex align-center justify-center">
        <span class="font-code font-subtitle">ODIN</span>
        <Icon Path="@Icons.Logo" Color="var(--color-primary)" Size="50" />
        <span class="font-code font-subtitle">VAULT</span>
    </div>
    <div class="logo-shadow pa-6 mt-1"></div>

    <div class="d-flex align-center gap-2">
        @if (accounts.Count > 0)
        {
            <input @onclick="ToggleAllAccounts" checked="@selectedAccounts.Any()" data-icon="minus" title="Toggle All" type="checkbox" class="mr-2 ml-4" />
        }

        <button class="btn border border-primary" @onclick="AddNewAccount">Add New Account</button>

        @if (selectedAccounts.Any())
        {
            <button class="btn btn-outlined" @onclick="ExportSelected">Export</button>
            <button class="btn-icon" @onclick="DeleteSelected" title="Delete"><Icon Path="@Icons.Trash" Size="20" Color="var(--color-error)" /></button>
        }
        
        @if (AccountManager.IsSignedIn())
        {
            <div class="ml-auto align-self-end">
                <p class="text-small text-dark">Signed in as</p>
                <p>@Path.GetFileNameWithoutExtension(AccountManager.GetUserPath())</p>
            </div>
            <button class="btn-icon align-self-end" @onclick="SignOut" title="Sign Out" style="margin-bottom: 1px;"><Icon Path="@Icons.Delete" Size="16" Color="var(--color-error)" /></button>
        }
    </div>

    @if (accounts.Count is 0)
    {
        <p class="text-dark mt-6">No Accounts</p>
    }

    <div class="d-flex flex-column gap-2 mt-4">
        @foreach (var account in accounts)
        {
            <div @key="account" class="account py-2 px-4 rounded-md bg-light shadow-sm">
                <input @onclick="() => ToggleAccount(account)" checked="@(selectedAccounts.Contains(account))" class="mr-2" type="checkbox" />

                <img src="@GetDomainLogo(account)" alt="Logo" class="d-sm-none" />

                @if (IsSite(account))
                {
                    <div>
                        <p class="text-small text-dark">Site</p>
                        <a href="@GetSiteUrl(account)" rel="noopener noreferrer nofollow" target="_blank">@GetSiteName(account)</a>
                    </div>
                }
                else
                {
                    <div>
                        <p class="text-small text-dark">App</p>
                        <p>@account.Domain</p>
                    </div>
                }

                <div>
                    <p class="text-small text-dark">Username/Email</p>
                    <p>@account.Username</p>
                </div>

                <div>
                    <p class="text-small text-dark">Password</p>
                    <PasswordDisplay Password="@account.Password" />
                </div>

                <div class="d-sm-none">
                    <p class="text-small text-dark">Created</p>
                    <p>@account.DateCreated</p>
                </div>

                <div class="d-flex justify-end gap-2" style="width: 48px;">
                    @if (!string.IsNullOrWhiteSpace(account.Notes))
                    {
                        <div class="btn-icon" title="@account.Notes"><Icon Path="@Icons.Notes" Size="20" Color="var(--color-border)" /></div>
                    }
                    <button class="btn-icon" @onclick="() => EditAccount(account)"><Icon Path="@Icons.Edit" Size="20" Color="var(--color-text-main)" /></button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public required DialogProvider DialogProvider { get; set; }

    [CascadingParameter]
    public required SnackbarProvider SnackbarProvider { get; set; }
    
    private List<AccountRecord> accounts = [];
    private readonly HashSet<AccountRecord> selectedAccounts = [];

    protected override async Task OnInitializedAsync()
    {
        if (!AccountManager.IsSignedIn())
        {
            NavigationManager.NavigateTo("/auth/sign-in");
            return;
        }

        var result = await AccountManager.GetAccountsAsync();
        if (!result.Succeeded)
        {
            SnackbarProvider.Add(Severity.Error, result.Message!);
            return;
        }

        accounts = result.Data!;
    }

    private void SignOut()
    {
        AccountManager.SignOut();
        NavigationManager.NavigateTo("/auth/sign-in", forceLoad: true);
    }
    
    private async Task AddNewAccount()
    {
        var dialogResult = await DialogProvider.Show<CreateAccountDialog>("Create Account", new DialogOptions() { DisableBackdropClick = true }).Result;
        if (dialogResult.IsCancel)
            return;
        
        accounts.Add((AccountRecord)dialogResult.Data!);
        
        var result = await AccountManager.SaveAccountsAsync(accounts);
        if (!result.Succeeded)
            SnackbarProvider.Add(Severity.Error, result.Message!);
    }

    private async Task EditAccount(AccountRecord account)
    {
        Dictionary<string, object?> parameters = [];
        parameters[nameof(EditAccountDialog.Account)] = account;
        
        var dialogResult = await DialogProvider.Show<EditAccountDialog>(parameters, "Edit Account", new DialogOptions() { DisableBackdropClick = true }).Result;
        if (dialogResult.IsCancel)
            return;

        var updatedAccount = (AccountRecord)dialogResult.Data!;
        account.LogoUrl = updatedAccount.LogoUrl;
        account.Domain = updatedAccount.Domain;
        account.Username = updatedAccount.Username;
        account.Password = updatedAccount.Password;
        account.Notes = updatedAccount.Notes;
        
        var result = await AccountManager.SaveAccountsAsync(accounts);
        if (!result.Succeeded)
            SnackbarProvider.Add(Severity.Error, result.Message!);
    }

    private void ExportSelected()
    {
        Dictionary<string, object?> parameters = [];
        parameters[nameof(ExportDialog.Accounts)] = selectedAccounts;
        DialogProvider.Show<ExportDialog>(parameters, "Export Accounts");
    }
    
    private async Task DeleteSelected()
    {
        Dictionary<string, object?> parameters = [];
        parameters[nameof(ConfirmationDialog.Message)] = "Are you sure you want to delete these accounts?";
        
        var dialogResult = await DialogProvider.Show<ConfirmationDialog>(parameters, "Delete Accounts").Result;
        if (dialogResult.IsCancel)
            return;
        
        foreach (var account in selectedAccounts)
        {
            accounts.Remove(account);
        }
        selectedAccounts.Clear();
        
        var result = await AccountManager.SaveAccountsAsync(accounts);
        if (!result.Succeeded)
            SnackbarProvider.Add(Severity.Error, result.Message!);
    }
    
    private void ToggleAccount(AccountRecord account)
    {
        if (!selectedAccounts.Add(account))
            selectedAccounts.Remove(account);
    }
    
    private void ToggleAllAccounts()
    {
        if (selectedAccounts.Any())
        {
            selectedAccounts.Clear();
        }
        else
        {
            foreach (var account in accounts)
            {
                selectedAccounts.Add(account);
            }
        }
    }

    private static bool IsSite(AccountRecord account)
    {
        return Uri.TryCreate(GetSiteUrl(account), UriKind.Absolute, out _);
    }
    
    private static string GetSiteUrl(AccountRecord account)
    {
        return (account.Domain.Contains('.'), account.Domain.StartsWith("http://") || account.Domain.StartsWith("https://")) switch
        {
            (true, true) => account.Domain,
            (true, false) => $"https://{account.Domain}",
            (false, true) => account.Domain,
            (false, false) => account.Domain,
        };
    }
    
    private static string GetSiteName(AccountRecord account)
    {
        var domain = GetSiteUrl(account);
        if (!Uri.TryCreate(domain, UriKind.Absolute, out var uri))
            return account.Domain;
        
        return uri.Host;
    }
    
    private string GetDomainLogo(AccountRecord account)
    {
        if (!string.IsNullOrWhiteSpace(account.LogoUrl))
            return account.LogoUrl;

        if (string.IsNullOrWhiteSpace(account.Domain))
            return "default_logo.png";

        var url = GetSiteUrl(account);
        if (!Uri.TryCreate(url, UriKind.Absolute, out var uri))
            return "default_logo.png";
        
        return $"{uri.Scheme}://{uri.Host}/favicon.ico";
    }
}