@page "/"

<PageTitle>Home</PageTitle>

<style>
    .logo-shadow {
        background: radial-gradient(var(--color-primary) 10%, transparent 70%);
        background-size: 40% 300%;
        background-position: center -200px;
        background-repeat: no-repeat;
    }
    
    .account {
        display: grid;
        grid-template-columns: auto auto 1fr 1fr 1fr 1fr auto;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .account img {
        width: 20px;
        height: 20px;
    }

    @@media (max-width: 900px) {
        .account {
            grid-template-columns: auto 1fr 1fr 1fr auto;
        }
        
        .d-sm-none {
            display: none;
        }
    }
</style>

<div class="main-content py-4">
    <div class="d-flex align-center justify-center">
        <span class="font-code font-subtitle">ODIN</span>
        <Icon Path="@Icons.Logo" Color="var(--color-primary)" Size="50" />
        <span class="font-code font-subtitle">VAULT</span>
    </div>
    <div class="logo-shadow pa-6 mt-1"></div>

    <div class="d-flex align-center gap-2">
        @if (accounts.Count > 0)
        {
            <input @onclick="ToggleAllAccounts" checked="@selectedAccounts.Any()" data-icon="minus" title="Toggle All" type="checkbox" class="mr-2 ml-4" />
        }

        <button class="btn border border-primary" @onclick="AddNewAccount">Add New Account</button>

        @if (selectedAccounts.Any())
        {
            <button class="btn btn-outlined btn-error" @onclick="DeleteSelected">Delete</button>
        }
    </div>

    @if (accounts.Count is 0)
    {
        <p class="text-dark mt-6">No Accounts</p>
    }

    <div class="d-flex flex-column gap-2 mt-4">
        @foreach (var account in accounts)
        {
            <div @key="account" class="account py-2 px-4 rounded-md bg-light">
                <input @onclick="() => ToggleAccount(account)" checked="@(selectedAccounts.Contains(account))" class="mr-2" type="checkbox" />

                <img src="@GetDomainLogo(account)" alt="Logo" class="d-sm-none" />

                @if (IsSite(account))
                {
                    <div>
                        <p class="text-small text-dark">Site</p>
                        <a href="@GetSiteUrl(account)" rel="noopener noreferrer nofollow" target="_blank">@GetSiteName(account)</a>
                    </div>
                }
                else
                {
                    <div>
                        <p class="text-small text-dark">App</p>
                        <p>@account.Domain</p>
                    </div>
                }

                <div>
                    <p class="text-small text-dark">Username/Email</p>
                    <p>@account.Username</p>
                </div>

                <div>
                    <p class="text-small text-dark">Password</p>
                    <PasswordDisplay Password="@account.Password" />
                </div>

                <div class="d-sm-none">
                    <p class="text-small text-dark">Created</p>
                    <p>@account.DateCreated</p>
                </div>

                <div class="d-flex justify-end gap-2" style="width: 48px;">
                    @if (!string.IsNullOrWhiteSpace(account.Notes))
                    {
                        <div class="btn-icon" title="@account.Notes"><Icon Path="@Icons.Notes" Size="20" Color="var(--color-border)" /></div>
                    }
                    <button class="btn-icon"><Icon Path="@Icons.Edit" Size="20" Color="var(--color-text-main)" /></button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public required DialogProvider DialogProvider { get; set; }

    private HashSet<AccountRecord> selectedAccounts = [];
    private readonly List<AccountRecord> accounts = [
        new () { Domain = "https://app.closingdealz.io/dashboard", Username = "daniel@gmail.com", Password = "password1" },
        new () { Domain = "RuneScape", Username = "Froggy", Password = "password2" }
    ];

    private async Task AddNewAccount()
    {
        var result = await DialogProvider.Show<CreateAccountDialog>("Create Account", new DialogOptions() { DisableBackdropClick = true }).Result;
        if (result.IsCancel)
            return;
        
        accounts.Add((AccountRecord)result.Data!);
    }

    private void ToggleAccount(AccountRecord account)
    {
        if (!selectedAccounts.Add(account))
            selectedAccounts.Remove(account);
    }
    
    private void ToggleAllAccounts()
    {
        if (selectedAccounts.Any())
        {
            selectedAccounts.Clear();
        }
        else
        {
            foreach (var account in accounts)
            {
                selectedAccounts.Add(account);
            }
        }
    }

    private async Task DeleteSelected()
    {
        Dictionary<string, object?> parameters = [];
        parameters[nameof(ConfirmationDialog.Message)] = "Are you sure you want to delete these accounts?";
        
        var result = await DialogProvider.Show<ConfirmationDialog>(parameters, "Delete Accounts").Result;
        if (result.IsCancel)
            return;

        foreach (var account in selectedAccounts)
        {
            accounts.Remove(account);
        }
        selectedAccounts.Clear();
    }
    
    private static bool IsSite(AccountRecord account)
    {
        return Uri.TryCreate(GetSiteUrl(account), UriKind.Absolute, out _);
    }
    
    private static string GetSiteUrl(AccountRecord account)
    {
        return (account.Domain.Contains('.'), account.Domain.StartsWith("http://") || account.Domain.StartsWith("https://")) switch
        {
            (true, true) => account.Domain,
            (true, false) => $"https://{account.Domain}",
            (false, true) => account.Domain,
            (false, false) => account.Domain,
        };
    }
    
    private static string GetSiteName(AccountRecord account)
    {
        var domain = GetSiteUrl(account);
        if (!Uri.TryCreate(domain, UriKind.Absolute, out var uri))
            return account.Domain;
        
        return uri.Host;
    }
    
    private string GetDomainLogo(AccountRecord account)
    {
        if (!string.IsNullOrWhiteSpace(account.LogoUrl))
            return account.LogoUrl;

        if (string.IsNullOrWhiteSpace(account.Domain))
            return "default_logo.png";

        var url = GetSiteUrl(account);
        if (!Uri.TryCreate(url, UriKind.Absolute, out var uri))
            return "default_logo.png";
        
        return $"{uri.Scheme}://{uri.Host}/favicon.ico";
    }
}